{% extends 'core/base.html' %}
{% block content %} 
<div class="container">
    <div class="row">
    <div class="col-sm-4"></div> 
    <div class="col-sm-4"></div> 
    <div class="col-sm-4"></div> 
    </div>
</div>
<div class= "container mt-5">
    <h1 class="text-warning mb-5 border-bottom">
        Services
    </h1>
    <div class="row text-center text-white mb-5">
    <div class="col-sm-4">
        <i class="fa-solid fa-droplet fa-2x mb-3 i-colo"></i>
        <h3>SEO</h3>
        <P class="ss-color" >TE-AMO</P>
    </div> 

    <div class="col-sm-4">
        <i class="fa-solid fa-palette fa-2x mb-3 i-colo"></i>
        <h3>Web Desiging</h3>
        <P class="ss-color">TE-AMO</P>
    </div> 

    <div class="col-sm-4">
        <i class="fa-solid fa-code fa-2x mb-3 i-colo"></i>
        <h3>Web Development</h3>
        <P class="ss-color">TE-AMO</P>
    </div>

    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-pencil-alt fa-2x mb-3 i-colo"></i>
            <h3>ios</h3>
            <P class="ss-color" >TE-AMO</P>
        </div>
    
        <div class="col-sm-4">
            <i class="fa-solid fa-add fa-2x mb-3 i-colo"></i>
            <h3>Avertising</h3>
            <P class="ss-color">TE-AMO</P>
        </div>
    
        <div class="col-sm-4">
            <i class="fa-solid fa-pencil fa-2x mb-3 i-colo"></i>
            <h3>logo-design</h3>
            <P class="ss-color">TE-AMO</P>
        </div> 
    
        </div>

        <div class="row text-center text-white mb-5">
            <div class="col-sm-4">
                <i class="fa-solid fa-droplet fa-2x mb-3 i-colo"></i>
                <h3>Hosting</h3>
                <P class="ss-color" >TE-AMO</P>
            </div> 
        
            <div class="col-sm-4">
                <i class="fa-solid fa-palette fa-2x mb-3 i-colo"></i>
                <h3>DataBase</h3>
                <P class="ss-color">TE-AMO</P>
            </div> 
        
            <div class="col-sm-4">
                <i class="fa-solid fa-code fa-2x mb-3 i-colo"></i>
                <h3>Digital Marketing</h3>
                <P class="ss-color">TE-AMO</P>
            </div> 
        
            </div>
</div>
{% endblock content %} 